.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advantages__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.advantages__item { 
    max-width: 450px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.advantages__icon-bg {
    height: 120px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--third-bgd-color);
}

.advantages__title {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);
}