.logo {
    display: block;

    font-family: var(--secondary-font), sans-serif;
    font-weight: 700;
    // font-size: 26px;
    font-size: 24px;

    letter-spacing: 0.03em;
    text-decoration: none;
    &-accent {
        color: var(--accent-color);
    }
}