:root {
    --first-bgd-color: #ffffff;
    --second-bgd-color: #2f303a;
    --third-bgd-color: #f5f4fa;
    --contacts-color: #757575;
    --text-color: #757575;
    --accent-color: #2196f3;
    --hover-button-color: #188ce8;

    --main-font: "Roboto";
    --secondary-font: "Raleway";
}